body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightskyblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    margin: 0 15px;
    font-size: 18px;
}

main {
    text-align: center;
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}